# Yandex.Music

# Contents <a id='back'></a>

* [Introduction](#intro)
* [Stage 1. Data overview](#data_review)
    * [Conclusions](#data_review_conclusions)
* [Stage 2. Data preprocessing](#data_preprocessing)
    * [2.1 Header style](#header_style)
    * [2.2 Missing values](#missing_values)
    * [2.3 Duplicates](#duplicates)
    * [2.4 Conclusions](#data_preprocessing_conclusions)
* [Stage 3. Testing the hypotheses](#hypotheses)
    * [3.1 Hypothesis 1: user activity in the two cities](#activity)
    * [3.2 Hypothesis 2: music preferences on Monday and Friday](#week)
    * [3.3 Hypothesis 3: genre preferences in Springfield and Shelbyville](#genre)
* [Findings](#end)

## Introduction <a id='intro'></a>
Whenever we're doing research, we need to formulate hypotheses that we can then test. Sometimes we accept these hypotheses; other times, we reject them. To make the right decisions, a business must be able to understand whether or not it's making the right assumptions.

In this project, you'll compare the music preferences of the cities of Springfield and Shelbyville. You'll study real Yandex.Music data to test the hypotheses below and compare user behavior for these two cities.

### Goal: 
Test three hypotheses:
1. User activity differs depending on the day of the week and from city to city. 
2. On Monday mornings, Springfield and Shelbyville residents listen to different genres. This is also true for Friday evenings. 
3. Springfield and Shelbyville listeners have different preferences. In Springfield, they prefer pop, while Shelbyville has more rap fans.

### Stages 
Data on user behavior is stored in the file `/datasets/music_project_en.csv`. There is no information about the quality of the data, so you will need to explore it before testing the hypotheses. 

First, you'll evaluate the quality of the data and see whether its issues are significant. Then, during data preprocessing, you will try to account for the most critical problems.
 
Your project will consist of three stages:
 1. Data overview
 2. Data preprocessing
 3. Testing the hypotheses
 
[Back to Contents](#back)

## Stage 1. Data overview <a id='data_review'></a>

Open the data on Yandex.Music and explore it.

You'll need `pandas`, so import it.

In [1]:
# importing pandas
import pandas as pd

Read the file `music_project_en.csv` from the `/datasets/` folder and save it in the `df` variable:

In [2]:
# reading the file and storing it to df
df = pd.read_csv('/datasets/music_project_en.csv')

In [3]:
df # Print df

,userID,Track,artist,genre,City,time,Day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Shelbyville,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas Rönnberg,rock,Springfield,14:07:09,Friday
2,20EC38,Funiculì funiculà,Mario Lanza,pop,Shelbyville,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Shelbyville,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Springfield,08:34:34,Monday
...,...,...,...,...,...,...,...
65074,729CBB09,My Name,McLean,rnb,Springfield,13:32:28,Wednesday
65075,D08D4A55,Maybe One Day (feat. Black Spade),Blu & Exile,hip,Shelbyville,10:00:00,Monday
65076,C5E3A0D5,Jalopiina,NaN,industrial,Springfield,20:09:26,Friday
65077,321D0506,Freight Train,Chas McDevitt,rock,Springfield,21:43:59,Friday
65078,3A64EF84,Tell Me Sweet Little Lies,Monica Lopez,country,Springfield,21:59:46,Friday

Print the first 10 table rows:

In [4]:
# obtaining the first 10 rows from the df table
df.head(10)

,userID,Track,artist,genre,City,time,Day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Shelbyville,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas Rönnberg,rock,Springfield,14:07:09,Friday
2,20EC38,Funiculì funiculà,Mario Lanza,pop,Shelbyville,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Shelbyville,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Springfield,08:34:34,Monday
5,842029A1,Chains,Obladaet,rusrap,Shelbyville,13:09:41,Friday
6,4CB90AA5,True,Roman Messer,dance,Springfield,13:00:07,Wednesday
7,F03E1C1F,Feeling This Way,Polina Griffith,dance,Springfield,20:47:49,Wednesday
8,8FA1D3BE,L’estate,Julia Dalia,ruspop,Springfield,09:17:40,Friday
9,E772D5C0,Pessimist,NaN,dance,Shelbyville,21:20:49,Wednesday

Obtaining the general information about the table with one command:

In [5]:
# obtaining general information about the data in df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65079 entries, 0 to 65078
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0     userID  65079 non-null  object
 1   Track     63736 non-null  object
 2   artist    57512 non-null  object
 3   genre     63881 non-null  object
 4     City    65079 non-null  object
 5   time      65079 non-null  object
 6   Day       65079 non-null  object
dtypes: object(7)
memory usage: 3.5+ MB

The table contains seven columns. They all store the same data type: `object`.

According to the documentation:
- `'userID'` — user identifier
- `'Track'` — track title
- `'artist'` — artist's name
- `'genre'`
- `'City'` — user's city
- `'time'` — the exact time the track was played
- `'Day'` — day of the week

We can see three issues with style in the column names:
1. Some names are uppercase, some are lowercase.
2. There are spaces in some names.
3. `Detect the third issue yourself and describe it here`.

Answer:
The number of column values is different. This means the data contains missing values.

### Conclusions <a id='data_review_conclusions'></a> 

Each row in the table stores data on a track that was played. Some columns describe the track itself: its title, artist and genre. The rest convey information about the user: the city they come from, the time they played the track. 

It's clear that the data is sufficient to test the hypotheses. However, there are missing values.

To move forward, we need to preprocess the data.

[Back to Contents](#back)

## Stage 2. Data preprocessing <a id='data_preprocessing'></a>
Correct the formatting in the column headers and deal with the missing values. Then, check whether there are duplicates in the data.

### Header style <a id='header_style'></a>
Print the column header:

In [6]:
# the list of column names in the df table
df.columns

Index(['  userID', 'Track', 'artist', 'genre', '  City  ', 'time', 'Day'], dtype='object')

Change column names according to the rules of good style:
* If the name has several words, use snake_case
* All characters must be lowercase
* Delete spaces

In [7]:
# renaming columns
df.columns=df.columns.str.lower() # All characters must be lowercase
df.columns=df.columns.str.replace(' ','') # Delete spaces
df.rename(columns={'userid': 'user_id'}, inplace=True) # If the name has several words, use snake_case
df # Print column

,user_id,track,artist,genre,city,time,day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Shelbyville,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas Rönnberg,rock,Springfield,14:07:09,Friday
2,20EC38,Funiculì funiculà,Mario Lanza,pop,Shelbyville,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Shelbyville,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Springfield,08:34:34,Monday
...,...,...,...,...,...,...,...
65074,729CBB09,My Name,McLean,rnb,Springfield,13:32:28,Wednesday
65075,D08D4A55,Maybe One Day (feat. Black Spade),Blu & Exile,hip,Shelbyville,10:00:00,Monday
65076,C5E3A0D5,Jalopiina,NaN,industrial,Springfield,20:09:26,Friday
65077,321D0506,Freight Train,Chas McDevitt,rock,Springfield,21:43:59,Friday
65078,3A64EF84,Tell Me Sweet Little Lies,Monica Lopez,country,Springfield,21:59:46,Friday

Check the result. Print the names of the columns once more:

In [8]:
# checking result: the list of column names
df.columns

Index(['user_id', 'track', 'artist', 'genre', 'city', 'time', 'day'], dtype='object')

[Back to Contents](#back)

### Missing values <a id='missing_values'></a>
First, find the number of missing values in the table. To do so, use two `pandas` methods:

In [9]:
# calculating missing values
df.isnull()

       user_id  track  artist  genre   city   time    day
0        False  False   False  False  False  False  False
1        False  False   False  False  False  False  False
2        False  False   False  False  False  False  False
3        False  False   False  False  False  False  False
4        False  False   False  False  False  False  False
...        ...    ...     ...    ...    ...    ...    ...
65074    False  False   False  False  False  False  False
65075    False  False   False  False  False  False  False
65076    False  False    True  False  False  False  False
65077    False  False   False  False  False  False  False
65078    False  False   False  False  False  False  False

[65079 rows x 7 columns]

In [10]:
# Find unique 'day' values where 'track' is missing
df[df.track.isnull()==True]['day'].unique()

array(['Monday', 'Wednesday', 'Friday'], dtype=object)

In [11]:
# Display general information about the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65079 entries, 0 to 65078
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  65079 non-null  object
 1   track    63736 non-null  object
 2   artist   57512 non-null  object
 3   genre    63881 non-null  object
 4   city     65079 non-null  object
 5   time     65079 non-null  object
 6   day      65079 non-null  object
dtypes: object(7)
memory usage: 3.5+ MB

In [12]:
# Count the number of missing values in each column
df.isnull().sum()

user_id       0
track      1343
artist     7567
genre      1198
city          0
time          0
day           0
dtype: int64

In [13]:
# Count the number of missing values using 'isna'
df.isna().sum()

user_id       0
track      1343
artist     7567
genre      1198
city          0
time          0
day           0
dtype: int64

Not all missing values affect the research. For instance, the missing values in `track` and `artist` are not critical. You can simply replace them with clear markers.

But missing values in `'genre'` can affect the comparison of music preferences in Springfield and Shelbyville. In real life, it would be useful to learn the reasons why the data is missing and try to make up for them. But we do not have that opportunity in this project. So you will have to:
* Fill in these missing values with markers
* Evaluate how much the missing values may affect your computations

Replace the missing values in `'track'`, `'artist'`, and `'genre'` with the string `'unknown'`. To do this, create the `columns_to_replace` list, loop over it with `for`, and replace the missing values in each of the columns:

In [14]:
# Define a list of columns to replace or work with
columns_to_replace=['track','artist','genre']
# Display the content of the 'columns_to_replace' list
columns_to_replace

['track', 'artist', 'genre']

In [15]:
# Fill missing values in 'genre' column with 'unknown'
df['genre']=df['genre'].fillna('unknown')
df.isnull().sum()

user_id       0
track      1343
artist     7567
genre         0
city          0
time          0
day           0
dtype: int64

In [16]:
# Check if 'track' is in the 'columns_to_replace' list
'track' in columns_to_replace

True

In [17]:
# Iterate through 'columns_to_replace' using 'i' as the variable
for i in columns_to_replace:
    print(i)

track
artist
genre

In [18]:
# Iterate through 'columns_to_replace' using 'column' as the variable
for column in columns_to_replace:
    print(column)

track
artist
genre

In [19]:
# print the 'artist' column from the DataFrame
df['artist']

0        The Mass Missile
1        Andreas Rönnberg
2             Mario Lanza
3              Fire + Ice
4              Space Echo
               ...
65074              McLean
65075         Blu & Exile
65076                 NaN
65077       Chas McDevitt
65078        Monica Lopez
Name: artist, Length: 65079, dtype: object

In [20]:
# Print the content of each column in 'columns_to_replace'
for column in columns_to_replace:
    print(df[column])

0                        Kamigata To Boots
1              Delayed Because of Accident
2                        Funiculì funiculà
3                    Dragons in the Sunset
4                              Soul People
                       ...
65074                              My Name
65075    Maybe One Day (feat. Black Spade)
65076                            Jalopiina
65077                        Freight Train
65078            Tell Me Sweet Little Lies
Name: track, Length: 65079, dtype: object
0        The Mass Missile
1        Andreas Rönnberg
2             Mario Lanza
3              Fire + Ice
4              Space Echo
               ...
65074              McLean
65075         Blu & Exile
65076                 NaN
65077       Chas McDevitt
65078        Monica Lopez
Name: artist, Length: 65079, dtype: object
0              rock
1              rock
2               pop
3              folk
4             dance
            ...
65074           rnb
65075           hip
65076    industrial
65077          rock
65078       country
Name: genre, Length: 65079, dtype: object

In [21]:
# Print the content of each column in 'columns_to_replace'
for column in columns_to_replace:
    print(df[column])

0                        Kamigata To Boots
1              Delayed Because of Accident
2                        Funiculì funiculà
3                    Dragons in the Sunset
4                              Soul People
                       ...
65074                              My Name
65075    Maybe One Day (feat. Black Spade)
65076                            Jalopiina
65077                        Freight Train
65078            Tell Me Sweet Little Lies
Name: track, Length: 65079, dtype: object
0        The Mass Missile
1        Andreas Rönnberg
2             Mario Lanza
3              Fire + Ice
4              Space Echo
               ...
65074              McLean
65075         Blu & Exile
65076                 NaN
65077       Chas McDevitt
65078        Monica Lopez
Name: artist, Length: 65079, dtype: object
0              rock
1              rock
2               pop
3              folk
4             dance
            ...
65074           rnb
65075           hip
65076    industrial
65077          rock
65078       country
Name: genre, Length: 65079, dtype: object

In [22]:
# Display the content of the 'columns_to_replace' list again
columns_to_replace

['track', 'artist', 'genre']

In [23]:
# Iterate through each column in the 'columns_to_replace' list
for column in columns_to_replace:
    print(column) 
# Fill missing values (NaN) in the current column with 'unknown'    
    df[column]=df[column].fillna('unknown')
# Print a message indicating that missing values in the current column have been replaced
    print("missing values in ",column," are replaced!")

track
missing values in  track  are replaced!
artist
missing values in  artist  are replaced!
genre
missing values in  genre  are replaced!

In [24]:
# Calculate and display the count of missing values in each column again
df.isnull().sum()

user_id    0
track      0
artist     0
genre      0
city       0
time       0
day        0
dtype: int64

[Back to Contents](#back)

### Duplicates <a id='duplicates'></a>
Find the number of obvious duplicates in the table using one command:

Call the `pandas` method for getting rid of obvious duplicates:

Count obvious duplicates once more to make sure you have removed all of them:

Now get rid of implicit duplicates in the `genre` column. For example, the name of a genre can be written in different ways. Such errors will also affect the result.

Print a list of unique genre names, sorted in alphabetical order. To do so:
* Retrieve the intended DataFrame column 
* Apply a sorting method to it
* For the sorted column, call the method that will return all unique column values

Look through the list to find implicit duplicates of the genre `hiphop`. These could be names written incorrectly or alternative names of the same genre.

You will see the following implicit duplicates:
* `hip`
* `hop`
* `hip-hop`

To get rid of them, declare the function `replace_wrong_genres()` with two parameters: 
* `wrong_genres=` — the list of duplicates
* `correct_genre=` — the string with the correct value

The function should correct the names in the `'genre'` column from the `df` table, i.e. replace each value from the `wrong_genres` list with the value in `correct_genre`.

Call `replace_wrong_genres()` and pass it arguments so that it clears implicit duplcates (`hip`, `hop`, and `hip-hop`) and replaces them with `hiphop`:

Make sure the duplicate names were removed. Print the list of unique values from the `'genre'` column:

In [25]:
# Check for duplicated rows in the DataFrame and create a Boolean Series
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
65074    False
65075    False
65076    False
65077    False
65078    False
Length: 65079, dtype: bool

In [26]:
# Filter the DataFrame to show only duplicated rows
df[df.duplicated()]

,user_id,track,artist,genre,city,time,day
575,E7F07B46,Crazy,The Manhattans,rnb,Springfield,13:39:46,Monday
832,7671A47A,Johnny Go!,NikitA,ruspop,Springfield,21:59:33,Wednesday
1216,69467B01,Change It All,Harrison Storm,singer,Springfield,20:53:06,Wednesday
1754,13B1A573,Te Adoramos Jesús,Athenas,spiritual,Springfield,13:19:37,Monday
1964,B24668A0,Mad over You Mashup,Nana Fofie,singer,Springfield,20:36:51,Monday
...,...,...,...,...,...,...,...
65042,83E9C8C4,Buddhist Beat,Asian Zen Spa Music Meditation,ambient,Springfield,13:25:29,Monday
65056,2E25BCD2,Psychobitch,Easter,pop,Springfield,14:53:07,Friday
65059,F231C47E,All Summer in a Day,VHS Or BETA,electronic,Springfield,20:31:23,Friday
65067,F1B93F29,Poison Kiss,Centerstone,rock,Shelbyville,22:00:29,Monday
65069,BE1AAD74,Waterwalk,Eduardo Gonzales,electronic,Springfield,20:38:59,Monday

In [27]:
# Filter the DataFrame to show rows with 'genre' equal to 'hip'
df[df.genre=='hip']

,user_id,track,artist,genre,city,time,day
20,201CF2A8,Ya'll In Trouble,Lil Tee Chill Tank Young Buck Brother Mohammed...,hip,Springfield,08:46:03,Monday
46,825997A5,Glorious Feeling,Joelistics,hip,Springfield,21:46:34,Friday
79,1DA07AA4,Cardi B,Money Man,hip,Shelbyville,14:02:14,Monday
81,CCD46819,Narcos,FOrΣvΣrT,hip,Shelbyville,09:20:38,Wednesday
82,80396F,Ay Caramba,Stay Flee Get Lizzy,hip,Springfield,13:15:38,Monday
...,...,...,...,...,...,...,...
65034,C1C4C94D,Payback,Vo,hip,Springfield,20:07:31,Friday
65041,78713DBB,Feels Like Saving The World,Outlandish,hip,Springfield,14:27:55,Friday
65043,CDCAFD62,Payday,King Hot,hip,Shelbyville,14:31:37,Friday
65052,72CB2D36,Yeezy Taught Her (feat. King Louie),Josh.k,hip,Springfield,20:34:11,Friday
65075,D08D4A55,Maybe One Day (feat. Black Spade),Blu & Exile,hip,Shelbyville,10:00:00,Monday

In [28]:
# Count the number of duplicated rows in the DataFrame
df.duplicated().sum()

3826

In [29]:
# Remove duplicated rows from the DataFrame
df = df.drop_duplicates()

In [30]:
# Count the number of duplicated rows after removing duplicates
df.duplicated().sum()

0

In [31]:
# Select the 'genre' column from the DataFrame
df['genre']

0              rock
1              rock
2               pop
3              folk
4             dance
            ...
65074           rnb
65075           hip
65076    industrial
65077          rock
65078       country
Name: genre, Length: 61253, dtype: object

In [32]:
# Count the number of unique values in the 'genre' column
df.genre.nunique()

269

In [33]:
# Get an array of unique values in the 'genre' column
df.genre.unique()

array(['rock', 'pop', 'folk', 'dance', 'rusrap', 'ruspop', 'world',
       'electronic', 'unknown', 'alternative', 'children', 'rnb', 'hip',
       'jazz', 'postrock', 'latin', 'classical', 'metal', 'reggae',
       'triphop', 'blues', 'instrumental', 'rusrock', 'dnb', 'türk',
       'post', 'country', 'psychedelic', 'conjazz', 'indie',
       'posthardcore', 'local', 'avantgarde', 'punk', 'videogame',
       'techno', 'house', 'christmas', 'melodic', 'caucasian',
       'reggaeton', 'soundtrack', 'singer', 'ska', 'salsa', 'ambient',
       'film', 'western', 'rap', 'beats', "hard'n'heavy", 'progmetal',
       'minimal', 'tropical', 'contemporary', 'new', 'soul', 'holiday',
       'german', 'jpop', 'spiritual', 'urban', 'gospel', 'nujazz',
       'folkmetal', 'trance', 'miscellaneous', 'anime', 'hardcore',
       'progressive', 'korean', 'numetal', 'vocal', 'estrada', 'tango',
       'loungeelectronic', 'classicmetal', 'dubstep', 'club', 'deep',
       'southern', 'black', 'folkrock', 'fitness', 'french', 'disco',
       'religious', 'hiphop', 'drum', 'extrememetal', 'türkçe',
       'experimental', 'easy', 'metalcore', 'modern', 'argentinetango',
       'old', 'swing', 'breaks', 'eurofolk', 'stonerrock', 'industrial',
       'funk', 'middle', 'variété', 'other', 'adult', 'christian',
       'thrash', 'gothic', 'international', 'muslim', 'relax', 'schlager',
       'caribbean', 'nu', 'breakbeat', 'comedy', 'chill', 'newage',
       'specialty', 'uzbek', 'k-pop', 'balkan', 'chinese', 'meditative',
       'dub', 'power', 'death', 'grime', 'arabesk', 'romance', 'flamenco',
       'leftfield', 'european', 'tech', 'newwave', 'dancehall', 'mpb',
       'piano', 'top', 'bigroom', 'opera', 'celtic', 'tradjazz',
       'acoustic', 'epicmetal', 'hip-hop', 'historisch', 'downbeat',
       'downtempo', 'africa', 'audiobook', 'jewish', 'sängerportrait',
       'deutschrock', 'eastern', 'action', 'future', 'electropop',
       'folklore', 'bollywood', 'marschmusik', 'rnr', 'karaoke', 'indian',
       'rancheras', 'afrikaans', 'rhythm', 'sound', 'deutschspr', 'trip',
       'lovers', 'choral', 'dancepop', 'retro', 'smooth', 'mexican',
       'brazilian', 'ïîï', 'mood', 'surf', 'gangsta', 'inspirational',
       'idm', 'ethnic', 'bluegrass', 'broadway', 'animated', 'americana',
       'karadeniz', 'rockabilly', 'colombian', 'self', 'hop', 'sertanejo',
       'japanese', 'canzone', 'lounge', 'sport', 'ragga', 'traditional',
       'gitarre', 'frankreich', 'emo', 'laiko', 'cantopop', 'glitch',
       'documentary', 'oceania', 'popeurodance', 'dark', 'vi', 'grunge',
       'hardstyle', 'samba', 'garage', 'art', 'folktronica', 'entehno',
       'mediterranean', 'chamber', 'cuban', 'taraftar', 'gypsy',
       'hardtechno', 'shoegazing', 'bossa', 'latino', 'worldbeat',
       'malaysian', 'baile', 'ghazal', 'arabic', 'popelectronic', 'acid',
       'kayokyoku', 'neoklassik', 'tribal', 'tanzorchester', 'native',
       'independent', 'cantautori', 'handsup', 'punjabi', 'synthpop',
       'rave', 'französisch', 'quebecois', 'speech', 'soulful', 'jam',
       'ram', 'horror', 'orchestral', 'neue', 'roots', 'slow', 'jungle',
       'indipop', 'axé', 'fado', 'showtunes', 'arena', 'irish',
       'mandopop', 'forró', 'dirty', 'regional'], dtype=object)

In [34]:
# Sort and return a list of unique genre values
df['genre'].sort_values().unique()

array(['acid', 'acoustic', 'action', 'adult', 'africa', 'afrikaans',
       'alternative', 'ambient', 'americana', 'animated', 'anime',
       'arabesk', 'arabic', 'arena', 'argentinetango', 'art', 'audiobook',
       'avantgarde', 'axé', 'baile', 'balkan', 'beats', 'bigroom',
       'black', 'bluegrass', 'blues', 'bollywood', 'bossa', 'brazilian',
       'breakbeat', 'breaks', 'broadway', 'cantautori', 'cantopop',
       'canzone', 'caribbean', 'caucasian', 'celtic', 'chamber',
       'children', 'chill', 'chinese', 'choral', 'christian', 'christmas',
       'classical', 'classicmetal', 'club', 'colombian', 'comedy',
       'conjazz', 'contemporary', 'country', 'cuban', 'dance',
       'dancehall', 'dancepop', 'dark', 'death', 'deep', 'deutschrock',
       'deutschspr', 'dirty', 'disco', 'dnb', 'documentary', 'downbeat',
       'downtempo', 'drum', 'dub', 'dubstep', 'eastern', 'easy',
       'electronic', 'electropop', 'emo', 'entehno', 'epicmetal',
       'estrada', 'ethnic', 'eurofolk', 'european', 'experimental',
       'extrememetal', 'fado', 'film', 'fitness', 'flamenco', 'folk',
       'folklore', 'folkmetal', 'folkrock', 'folktronica', 'forró',
       'frankreich', 'französisch', 'french', 'funk', 'future', 'gangsta',
       'garage', 'german', 'ghazal', 'gitarre', 'glitch', 'gospel',
       'gothic', 'grime', 'grunge', 'gypsy', 'handsup', "hard'n'heavy",
       'hardcore', 'hardstyle', 'hardtechno', 'hip', 'hip-hop', 'hiphop',
       'historisch', 'holiday', 'hop', 'horror', 'house', 'idm',
       'independent', 'indian', 'indie', 'indipop', 'industrial',
       'inspirational', 'instrumental', 'international', 'irish', 'jam',
       'japanese', 'jazz', 'jewish', 'jpop', 'jungle', 'k-pop',
       'karadeniz', 'karaoke', 'kayokyoku', 'korean', 'laiko', 'latin',
       'latino', 'leftfield', 'local', 'lounge', 'loungeelectronic',
       'lovers', 'malaysian', 'mandopop', 'marschmusik', 'meditative',
       'mediterranean', 'melodic', 'metal', 'metalcore', 'mexican',
       'middle', 'minimal', 'miscellaneous', 'modern', 'mood', 'mpb',
       'muslim', 'native', 'neoklassik', 'neue', 'new', 'newage',
       'newwave', 'nu', 'nujazz', 'numetal', 'oceania', 'old', 'opera',
       'orchestral', 'other', 'piano', 'pop', 'popelectronic',
       'popeurodance', 'post', 'posthardcore', 'postrock', 'power',
       'progmetal', 'progressive', 'psychedelic', 'punjabi', 'punk',
       'quebecois', 'ragga', 'ram', 'rancheras', 'rap', 'rave', 'reggae',
       'reggaeton', 'regional', 'relax', 'religious', 'retro', 'rhythm',
       'rnb', 'rnr', 'rock', 'rockabilly', 'romance', 'roots', 'ruspop',
       'rusrap', 'rusrock', 'salsa', 'samba', 'schlager', 'self',
       'sertanejo', 'shoegazing', 'showtunes', 'singer', 'ska', 'slow',
       'smooth', 'soul', 'soulful', 'sound', 'soundtrack', 'southern',
       'specialty', 'speech', 'spiritual', 'sport', 'stonerrock', 'surf',
       'swing', 'synthpop', 'sängerportrait', 'tango', 'tanzorchester',
       'taraftar', 'tech', 'techno', 'thrash', 'top', 'traditional',
       'tradjazz', 'trance', 'tribal', 'trip', 'triphop', 'tropical',
       'türk', 'türkçe', 'unknown', 'urban', 'uzbek', 'variété', 'vi',
       'videogame', 'vocal', 'western', 'world', 'worldbeat', 'ïîï'],
      dtype=object)

In [35]:
 # Loop through unique genre values and print those containing 'hip' or 'hop'
for genre in df.genre.unique():
    if 'hip' in genre or 'hop' in genre:
        print(genre)

hip
triphop
hiphop
hip-hop
hop

In [36]:
# Filter rows with 'genre' matching specified values ('hip', 'hip-hop', 'hop')
df[df.genre.isin(['hip','hip-hop','hop'])]

,user_id,track,artist,genre,city,time,day
20,201CF2A8,Ya'll In Trouble,Lil Tee Chill Tank Young Buck Brother Mohammed...,hip,Springfield,08:46:03,Monday
46,825997A5,Glorious Feeling,Joelistics,hip,Springfield,21:46:34,Friday
79,1DA07AA4,Cardi B,Money Man,hip,Shelbyville,14:02:14,Monday
81,CCD46819,Narcos,FOrΣvΣrT,hip,Shelbyville,09:20:38,Wednesday
82,80396F,Ay Caramba,Stay Flee Get Lizzy,hip,Springfield,13:15:38,Monday
...,...,...,...,...,...,...,...
65034,C1C4C94D,Payback,Vo,hip,Springfield,20:07:31,Friday
65041,78713DBB,Feels Like Saving The World,Outlandish,hip,Springfield,14:27:55,Friday
65043,CDCAFD62,Payday,King Hot,hip,Shelbyville,14:31:37,Friday
65052,72CB2D36,Yeezy Taught Her (feat. King Louie),Josh.k,hip,Springfield,20:34:11,Friday
65075,D08D4A55,Maybe One Day (feat. Black Spade),Blu & Exile,hip,Shelbyville,10:00:00,Monday

In [37]:
# Define a list of "bad" genres and a single "good" genre for replacement
bad_genres=['hip','hop','hip-hop']
good_genre='hiphop'

In [38]:
# Print hiphop
good_genre

'hiphop'

In [39]:
# Print the "bad" genres
for i in bad_genres:
    print(i)

hip
hop
hip-hop

In [40]:
df['genre']

0              rock
1              rock
2               pop
3              folk
4             dance
            ...
65074           rnb
65075           hip
65076    industrial
65077          rock
65078       country
Name: genre, Length: 61253, dtype: object

In [44]:
# Function for systematic replacement of genre values
def correct_genre(wrong_genres,correct_genre):
    for element in wrong_genres:
        df['genre']=df['genre'].replace(element,correct_genre)

In [45]:
# Use the function to replace certain genre values
correct_genre(['ïîï'],'unknown')
correct_genre(['worldbeat'],'world')
correct_genre(['türk'],'türkçe')
correct_genre(['trip'],'triphop')
correct_genre(['tech'],'techno')
correct_genre(['sound'],'soundtrack')
correct_genre(['reggae'],'reggaeton') 
correct_genre(['new'],'newage')
correct_genre(['unknown'],'miscellaneous')
correct_genre(['latino'],'latin') 
correct_genre(['africa'],'afrikaans')

/tmp/ipykernel_27/2029212776.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['genre']=df['genre'].replace(element,correct_genre)

In [46]:
# Sort and return a list of unique genre values after replacements
sorted(df['genre'].unique())

['acid',
 'acoustic',
 'action',
 'adult',
 'afrikaans',
 'alternative',
 'ambient',
 'americana',
 'animated',
 'anime',
 'arabesk',
 'arabic',
 'arena',
 'argentinetango',
 'art',
 'audiobook',
 'avantgarde',
 'axé',
 'baile',
 'balkan',
 'beats',
 'bigroom',
 'black',
 'bluegrass',
 'blues',
 'bollywood',
 'bossa',
 'brazilian',
 'breakbeat',
 'breaks',
 'broadway',
 'cantautori',
 'cantopop',
 'canzone',
 'caribbean',
 'caucasian',
 'celtic',
 'chamber',
 'children',
 'chill',
 'chinese',
 'choral',
 'christian',
 'christmas',
 'classical',
 'classicmetal',
 'club',
 'colombian',
 'comedy',
 'conjazz',
 'contemporary',
 'country',
 'cuban',
 'dance',
 'dancehall',
 'dancepop',
 'dark',
 'death',
 'deep',
 'deutschrock',
 'deutschspr',
 'dirty',
 'disco',
 'dnb',
 'documentary',
 'downbeat',
 'downtempo',
 'drum',
 'dub',
 'dubstep',
 'eastern',
 'easy',
 'electronic',
 'electropop',
 'emo',
 'entehno',
 'epicmetal',
 'estrada',
 'ethnic',
 'eurofolk',
 'european',
 'experimental',
 'extrememetal',
 'fado',
 'film',
 'fitness',
 'flamenco',
 'folk',
 'folklore',
 'folkmetal',
 'folkrock',
 'folktronica',
 'forró',
 'frankreich',
 'französisch',
 'french',
 'funk',
 'future',
 'gangsta',
 'garage',
 'german',
 'ghazal',
 'gitarre',
 'glitch',
 'gospel',
 'gothic',
 'grime',
 'grunge',
 'gypsy',
 'handsup',
 "hard'n'heavy",
 'hardcore',
 'hardstyle',
 'hardtechno',
 'hiphop',
 'historisch',
 'holiday',
 'horror',
 'house',
 'idm',
 'independent',
 'indian',
 'indie',
 'indipop',
 'industrial',
 'inspirational',
 'instrumental',
 'international',
 'irish',
 'jam',
 'japanese',
 'jazz',
 'jewish',
 'jpop',
 'jungle',
 'k-pop',
 'karadeniz',
 'karaoke',
 'kayokyoku',
 'korean',
 'laiko',
 'latin',
 'leftfield',
 'local',
 'lounge',
 'loungeelectronic',
 'lovers',
 'malaysian',
 'mandopop',
 'marschmusik',
 'meditative',
 'mediterranean',
 'melodic',
 'metal',
 'metalcore',
 'mexican',
 'middle',
 'minimal',
 'miscellaneous',
 'modern',
 'mood',
 'mpb',
 'muslim',
 'native',
 'neoklassik',
 'neue',
 'newage',
 'newwave',
 'nu',
 'nujazz',
 'numetal',
 'oceania',
 'old',
 'opera',
 'orchestral',
 'other',
 'piano',
 'pop',
 'popelectronic',
 'popeurodance',
 'post',
 'posthardcore',
 'postrock',
 'power',
 'progmetal',
 'progressive',
 'psychedelic',
 'punjabi',
 'punk',
 'quebecois',
 'ragga',
 'ram',
 'rancheras',
 'rap',
 'rave',
 'reggaeton',
 'regional',
 'relax',
 'religious',
 'retro',
 'rhythm',
 'rnb',
 'rnr',
 'rock',
 'rockabilly',
 'romance',
 'roots',
 'ruspop',
 'rusrap',
 'rusrock',
 'salsa',
 'samba',
 'schlager',
 'self',
 'sertanejo',
 'shoegazing',
 'showtunes',
 'singer',
 'ska',
 'slow',
 'smooth',
 'soul',
 'soulful',
 'soundtrack',
 'southern',
 'specialty',
 'speech',
 'spiritual',
 'sport',
 'stonerrock',
 'surf',
 'swing',
 'synthpop',
 'sängerportrait',
 'tango',
 'tanzorchester',
 'taraftar',
 'techno',
 'thrash',
 'top',
 'traditional',
 'tradjazz',
 'trance',
 'tribal',
 'triphop',
 'tropical',
 'türkçe',
 'urban',
 'uzbek',
 'variété',
 'vi',
 'videogame',
 'vocal',
 'western',
 'world']

[Back to Contents](#back)

### Conclusions <a id='data_preprocessing_conclusions'></a>
We detected three issues with the data:

- Incorrect header styles
- Missing values
- Obvious and implicit duplicates

The headers have been cleaned up to make processing the table simpler.

All missing values have been replaced with `'unknown'`. But we still have to see whether the missing values in `'genre'` will affect our calculations.

The absence of duplicates will make the results more precise and easier to understand.

Now we can move on to testing hypotheses.

[Back to Contents](#back)

## Stage 3. Testing hypotheses <a id='hypotheses'></a>

### Hypothesis 1: comparing user behavior in two cities <a id='activity'></a>

According to the first hypothesis, users from Springfield and Shelbyville listen to music differently. Test this using the data on three days of the week: Monday, Wednesday, and Friday.

* Divide the users into groups by city.
* Compare how many tracks each group played on Monday, Wednesday, and Friday.

For the sake of practice, perform each computation separately. 

Evaluate user activity in each city. Group the data by city and find the number of songs played in each group.

In [47]:
# Filter the DataFrame for Monday, Wednesday, and Friday
days_of_interest = ['Monday', 'Wednesday', 'Friday']
filtered_df = df[df['day'].isin(days_of_interest)]

# Group the filtered data by 'city'
city_groups = filtered_df.groupby('city')

# Calculate the total number of tracks played in each city
tracks_played_by_city = city_groups.size().reset_index(name='num_tracks_played')

# Print the results
print("Number of tracks played in each city without separating by day:")
print(tracks_played_by_city)

Number of tracks played in each city without separating by day:
          city  num_tracks_played
0  Shelbyville              18512
1  Springfield              42741

Springfield has more tracks played than Shelbyville. But that does not imply that citizens of Springfield listen to music more often. This city is simply bigger, and there are more users.

Now group the data by day of the week and find the number of tracks played on Monday, Wednesday, and Friday.

In [48]:
# Calculating tracks played on each of the three days
tracks_played_by_day = df.groupby('day')['track'].count()

# Print the results
print("Number of tracks played on each day:")
print(tracks_played_by_day)

Number of tracks played on each day:
day
Friday       21840
Monday       21354
Wednesday    18059
Name: track, dtype: int64

Wednesday is the quietest day overall. But if we consider the two cities separately, we might come to a different conclusion.

You have seen how grouping by city or day works. Now write a function that will group by both.

Create the `number_tracks()` function to calculate the number of songs played for a given day and city. It will require two parameters:
* day of the week
* name of the city

In the function, use a variable to store the rows from the original table, where:
  * `'day'` column value is equal to the `day` parameter
  * `'city'` column value is equal to the `city` parameter

Apply consecutive filtering with logical indexing.

Then calculate the `'user_id'` column values in the resulting table. Store the result to a new variable. Return this variable from the function.

In [49]:
# Function to calculate the number of tracks played for a given day and city
def number_tracks(day, city):
    # Filter the DataFrame for the specified day
    track_list = df[df['day'] == day]
    
    # Further filter the result for the specified city
    track_list = track_list[track_list['city'] == city]
    
    # Calculate the number of 'user_id' values in the filtered DataFrame
    track_list_count = track_list['user_id'].count()
    
    # Return the count of tracks played
    return track_list_count

# Example usage of the function
day = 'Monday'  # Replace with the desired day
city = 'Springfield'  # Replace with the desired city

# Calculate the number of tracks played for the specified day and city
tracks_played = number_tracks(day, city)

# Print the result
print(f"Number of tracks played in {city} on {day}: {tracks_played}")

Number of tracks played in Springfield on Monday: 15740

Call `number_tracks()` six times, changing the parameter values, so that you retrieve the data on both cities for each of the three days.

In [50]:
# Call number_tracks() for Springfield on Monday
springfield_monday = number_tracks('Monday', 'Springfield')

# Call number_tracks() for Springfield on Wednesday
springfield_wednesday = number_tracks('Wednesday', 'Springfield')

# Call number_tracks() for Springfield on Friday
springfield_friday = number_tracks('Friday', 'Springfield')

# Call number_tracks() for Shelbyville on Monday
shelbyville_monday = number_tracks('Monday', 'Shelbyville')

# Call number_tracks() for Shelbyville on Wednesday
shelbyville_wednesday = number_tracks('Wednesday', 'Shelbyville')

# Call number_tracks() for Shelbyville on Friday
shelbyville_friday = number_tracks('Friday', 'Shelbyville')

# Print the results
print("Number of tracks played in Springfield on Monday:", springfield_monday)
print("Number of tracks played in Springfield on Wednesday:", springfield_wednesday)
print("Number of tracks played in Springfield on Friday:", springfield_friday)
print("Number of tracks played in Shelbyville on Monday:", shelbyville_monday)
print("Number of tracks played in Shelbyville on Wednesday:", shelbyville_wednesday)
print("Number of tracks played in Shelbyville on Friday:", shelbyville_friday)

Number of tracks played in Springfield on Monday: 15740
Number of tracks played in Springfield on Wednesday: 11056
Number of tracks played in Springfield on Friday: 15945
Number of tracks played in Shelbyville on Monday: 5614
Number of tracks played in Shelbyville on Wednesday: 7003
Number of tracks played in Shelbyville on Friday: 5895

In [51]:
# the number of songs played in Springfield on Monday

In [52]:
# the number of songs played in Shelbyville on Monday

In [53]:
# the number of songs played in Springfield on Wednesday

In [54]:
# the number of songs played in Shelbyville on Wednesday

In [55]:
# the number of songs played in Springfield on Friday

In [56]:
# the number of songs played in Shelbyville on Friday

Use `pd.DataFrame` to create a table, where
* Column names are: `['city', 'monday', 'wednesday', 'friday']`
* The data is the results you got from `number_tracks()`

In [57]:
# Create a list of cities
cities = ['Springfield', 'Shelbyville']

# Create empty lists to store the results
monday_results = []
wednesday_results = []
friday_results = []

# Call number_tracks() for each city and day, and append the results to the respective lists
for city in cities:
    monday_results.append(number_tracks('Monday', city))
    wednesday_results.append(number_tracks('Wednesday', city))
    friday_results.append(number_tracks('Friday', city))

# Create a DataFrame with the results
data = {'city': cities, 'monday': monday_results, 'wednesday': wednesday_results, 'friday': friday_results}
result_df = pd.DataFrame(data)

# Print the resulting DataFrame
display(result_df)

          city  monday  wednesday  friday
0  Springfield   15740      11056   15945
1  Shelbyville    5614       7003    5895

**Conclusions**

The data reveals differences in user behavior:

- In Springfield, the number of songs played peaks on Mondays and Fridays, while on Wednesday there is a decrease in activity.
- In Shelbyville, on the contrary, users listen to music more on Wednesday. User activity on Monday and Friday is smaller.

So the first hypothesis seems to be correct.

[Back to Contents](#back)

### Hypothesis 2: music at the beginning and end of the week <a id='week'></a>

According to the second hypothesis, on Monday morning and Friday night, citizens of Springfield listen to genres that differ from ones users from Shelbyville enjoy.

Get tables (make sure that the name of your combined table matches the DataFrame given in the two code blocks below):
* For Springfield — `spr_general`
* For Shelbyville — `shel_general`

In [58]:
# Filter the data for Monday morning and Friday night for Springfield
spr_general = df[(df['city'] == 'Springfield') & ((df['day'] == 'Monday') & (df['time'] >= '00:00:00') & (df['time'] < '12:00:00') | (df['day'] == 'Friday') & (df['time'] >= '20:00:00') & (df['time'] <= '23:59:59'))]
# Print the resulting DataFrames
print("Table for Springfield (spr_general):")
print(spr_general)

Table for Springfield (spr_general):
        user_id                      track  \
4      E2DC1FAE                Soul People
12     FF3FD2BD                      Truth
13     CC782B0F       After School Special
15     E3C5756F                    unknown
20     201CF2A8           Ya'll In Trouble
...         ...                        ...
65055  F7C33A91                   Dagestan
65071  92378E24  Swing it Like You Mean it
65076  C5E3A0D5                  Jalopiina
65077  321D0506              Freight Train
65078  3A64EF84  Tell Me Sweet Little Lies

                                                  artist          genre  \
4                                             Space Echo          dance
12                                                Bamboo            pop
13                                  Detroit Grand Pubahs          dance
15                                               unknown  miscellaneous
20     Lil Tee Chill Tank Young Buck Brother Mohammed...         hiphop
...                                                  ...            ...
65055                                        Sabine Kors      caucasian
65071                                             OJOJOJ         techno
65076                                            unknown     industrial
65077                                      Chas McDevitt           rock
65078                                       Monica Lopez        country

              city      time     day
4      Springfield  08:34:34  Monday
12     Springfield  09:19:49  Monday
13     Springfield  20:04:12  Friday
15     Springfield  09:24:51  Monday
20     Springfield  08:46:03  Monday
...            ...       ...     ...
65055  Springfield  21:08:39  Friday
65071  Springfield  21:12:56  Friday
65076  Springfield  20:09:26  Friday
65077  Springfield  21:43:59  Friday
65078  Springfield  21:59:46  Friday

[10552 rows x 7 columns]

In [59]:
# Filter the data for Monday morning and Friday night for Shelbyville
shel_general = df[(df['city'] == 'Shelbyville') & ((df['day'] == 'Monday') & (df['time'] >= '00:00:00') & (df['time'] < '12:00:00') | (df['day'] == 'Friday') & (df['time'] >= '20:00:00') & (df['time'] <= '23:59:59'))]
# where the value in the 'city' column is 'Shelbyville'
print("Table for Shelbyville (shel_general):")
print(shel_general)

Table for Shelbyville (shel_general):
        user_id                              track                 artist  \
3      A3DD03C9              Dragons in the Sunset             Fire + Ice
31     F6A44469                Veritas Universalis              Devathorn
38     14FBD1E5                           Solteras           Beauty Brain
40     77979A66                             Sci-Fi                unknown
49     2A35001B      Can You Feel the Love Tonight  Disney Peaceful Piano
...         ...                                ...                    ...
65006  9E4830ED                         Letting Go                unknown
65021  83831D51                            unknown                unknown
65030  E82DA566       I Hate You More Than My Life             Solar Fake
65066  1B91C621             (Hello) Cloud Mountain        sleepmakeswaves
65075  D08D4A55  Maybe One Day (feat. Black Spade)            Blu & Exile

              genre         city      time     day
3              folk  Shelbyville  08:37:09  Monday
31            metal  Shelbyville  20:19:42  Friday
38            dance  Shelbyville  20:33:11  Friday
40           rusrap  Shelbyville  08:45:43  Monday
49     instrumental  Shelbyville  21:51:37  Friday
...             ...          ...       ...     ...
65006       dubstep  Shelbyville  09:37:24  Monday
65021        hiphop  Shelbyville  20:15:36  Friday
65030    electronic  Shelbyville  20:55:55  Friday
65066      postrock  Shelbyville  09:22:13  Monday
65075        hiphop  Shelbyville  10:00:00  Monday

[3671 rows x 7 columns]

Write the `genre_weekday()` function with four parameters:
* A table for data (`df`)
* The day of the week (`day`)
* The first timestamp, in 'hh:mm' format (`time1`)
* The last timestamp, in 'hh:mm' format (`time2`)

The function should return info on the 15 most popular genres on a given day within the period between the two timestamps.

In [60]:
def genre_weekday(df, day, time1, time2):
    # Filter rows where the 'day' column is equal to the given day
    genre_df = df[df['day'] == day]

    # Filter rows where the 'time' column is greater than time1 and smaller than time2
    genre_df = genre_df[(genre_df['time'] >= time1) & (genre_df['time'] < time2)]

    # Group by the 'genre' column and count the number of entries for each genre
    genre_df_count = genre_df.groupby('genre').size().reset_index(name='count')

    # Sort the result in descending order of frequency
    genre_df_sorted = genre_df_count.sort_values(by='count', ascending=False)

    # Return the 15 most popular genres
    return genre_df_sorted.head(15)

Compare the results of the `genre_weekday()` function for Springfield and Shelbyville on Monday morning (from 7AM to 11AM) and on Friday evening (from 17:00 to 23:00):

In [61]:
# calling the function for Monday morning in Springfield (use spr_general instead of the df table)
springfield_monday_morning = genre_weekday(spr_general, 'Monday', '07:00:00', '11:00:00')
springfield_monday_morning

             genre  count
95             pop    781
30           dance    549
42      electronic    480
110           rock    474
63          hiphop    286
85   miscellaneous    187
112         ruspop    186
142          world    182
113         rusrap    175
2      alternative    164
24       classical    157
82           metal    120
71            jazz    100
51            folk     97
122     soundtrack     95

In [62]:
# calling the function for Monday morning in Shelbyville (use shel_general instead of the df table)
shelbyville_monday_morning = genre_weekday(shel_general, 'Monday', '07:00:00', '11:00:00')
shelbyville_monday_morning

           genre  count
67           pop    218
18         dance    182
80          rock    162
28    electronic    147
45        hiphop     80
82        ruspop     64
1    alternative     58
83        rusrap     55
51          jazz     44
13     classical     40
105        world     36
74           rap     32
89    soundtrack     31
78           rnb     27
60         metal     27

In [63]:
# calling the function for Friday evening in Springfield
springfield_friday_evening = genre_weekday(spr_general, 'Friday', '17:00:00', '23:00:00')
springfield_friday_evening

             genre  count
106            pop    713
121           rock    517
35           dance    495
47      electronic    482
72          hiphop    273
153          world    208
123         ruspop    170
26       classical    163
2      alternative    163
124         rusrap    142
96   miscellaneous    139
82            jazz    111
133     soundtrack    105
119            rnb     90
94           metal     88

In [64]:
# calling the function for Friday evening in Shelbyville
shelbyville_friday_evening = genre_weekday(shel_general, 'Friday', '17:00:00', '23:00:00')
shelbyville_friday_evening

             genre  count
82             pop    256
36      electronic    216
96            rock    216
25           dance    210
52          hiphop     97
2      alternative     63
71   miscellaneous     63
59            jazz     61
20       classical     60
100         rusrap     59
123          world     54
99          ruspop     47
108     soundtrack     40
68           metal     39
90             rap     36

<div class="alert alert-success"; style="border-left: 7px solid green">
<b>✅ Reviewer's comment, v. 1</b> 
    
Well done, you now have data to make a conclusion for the hypothesis.

**Conclusion**

Having compared the top 15 genres on Monday morning, we can draw the following conclusions:

1. Users from Springfield and Shelbyville listen to similar music. The top five genres are the same, only rock and electronic have switched places.

2. In Springfield, the number of missing values turned out to be so big that the value `'unknown'` came in 10th. This means that missing values make up a considerable portion of the data, which may be a basis for questioning the reliability of our conclusions.

For Friday evening, the situation is similar. Individual genres vary somewhat, but on the whole, the top 15 is similar for the two cities.

Thus, the second hypothesis has been partially proven true:
* Users listen to similar music at the beginning and end of the week.
* There is no major difference between Springfield and Shelbyville. In both cities, pop is the most popular genre.

However, the number of missing values makes this result questionable. In Springfield, there are so many that they affect our top 15. Were we not missing these values, things might look different.

[Back to Contents](#back)

### Hypothesis 3: genre preferences in Springfield and Shelbyville <a id='genre'></a>

Hypothesis: Shelbyville loves rap music. Springfield's citizens are more into pop.

Group the `spr_general` table by genre and find the number of songs played for each genre with the `count()` method. Then sort the result in descending order and store it to `spr_genres`.

In [70]:
# Create DataFrames for Springfield without weekday and time filters
spr_general = df[df['city'] == 'Springfield']

# Group the Springfield DataFrame by genre and count the number of songs played for each genre
springfield_genres = springfield_df.groupby('genre').size().reset_index(name='count')

# Sort the results in descending order based on the count column for the city
springfield_genres = springfield_genres.sort_values(by='count', ascending=False)

# Print the resulting DataFrames for city
display("Genre Counts for Springfield:")
display(springfield_genres)

'Genre Counts for Springfield:'

          genre  count
167         pop   5892
52        dance   4435
190        rock   3965
71   electronic   3786
108      hiphop   2096
..          ...    ...
12        arena      1
181        rave      1
11       arabic      1
183    regional      1
0          acid      1

[239 rows x 2 columns]

Print the first 10 rows from `spr_genres`:

In [71]:
# printing the first 10 rows of spr_genres
springfield_genres.head(10)

           genre  count
167          pop   5892
52         dance   4435
190         rock   3965
71    electronic   3786
108       hiphop   2096
43     classical   1616
238        world   1433
5    alternative   1379
193       ruspop   1372
194       rusrap   1161

Now do the same with the data on Shelbyville.

Group the `shel_general` table by genre and find the number of songs played for each genre. Then sort the result in descending order and store it to the `shel_genres` table:

In [67]:
# Create DataFrames for Shelbyville without weekday and time filters
shelbyville_df = df[df['city'] == 'Shelbyville']

# Group the Shelbyville DataFrame by genre and count the number of songs played for each genre
shelbyville_genres = shelbyville_df.groupby('genre').size().reset_index(name='count')

# Sort the results in descending order based on the count column for the city
shelbyville_genres = shelbyville_genres.sort_values(by='count', ascending=False)

# Print the resulting DataFrames for city
display("\nGenre Counts for Shelbyville:")
display(shelbyville_genres)

'\nGenre Counts for Shelbyville:'

             genre  count
137            pop   2431
41           dance   1932
158           rock   1879
56      electronic   1736
90          hiphop    960
..             ...    ...
139   popeurodance      1
138  popelectronic      1
35            club      1
84           grime      1
24         canzone      1

[197 rows x 2 columns]

Print the first 10 rows of `shel_genres`:

In [68]:
shelbyville_genres.head(10)

           genre  count
137          pop   2431
41         dance   1932
158         rock   1879
56    electronic   1736
90        hiphop    960
3    alternative    649
33     classical    646
162       rusrap    564
161       ruspop    538
196        world    516

**Conclusion**

The hypothesis has been partially proven true:
* Pop music is the most popular genre in Springfield, as expected.
* However, pop music turned out to be equally popular in Springfield and Shelbyville, and rap wasn't in the top 5 for either city.

[Back to Contents](#back)

# Findings <a id='end'></a>

We have tested the following three hypotheses:

1. User activity differs depending on the day of the week and from city to city. 
2. On Monday mornings, Springfield and Shelbyville residents listen to different genres. This is also true for Friday evenings. 
3. Springfield and Shelbyville listeners have different preferences. In both Springfield and Shelbyville, they prefer pop.

After analyzing the data, we concluded:

1. User activity in Springfield and Shelbyville depends on the day of the week, though the cities vary in different ways. 

The first hypothesis is fully accepted.

2. Musical preferences do not vary significantly over the course of the week in both Springfield and Shelbyville. We can see small differences in order on Mondays, but:
* In Springfield and Shelbyville, people listen to pop music most.

So we can't accept this hypothesis. We must also keep in mind that the result could have been different if not for the missing values.

3. It turns out that the musical preferences of users from Springfield and Shelbyville are quite similar.

The third hypothesis is rejected. If there is any difference in preferences, it cannot be seen from this data.

### Note 
In real projects, research involves statistical hypothesis testing, which is more precise and more quantitative. Also note that you cannot always draw conclusions about an entire city based on the data from just one source.

You will study hypothesis testing in the sprint on statistical data analysis.

[Back to Contents](#back)